async-timeout==5.0.1
autopep8==2.3.1
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
exceptiongroup==1.2.2
idna==3.10
iniconfig==2.1.0
joblib==1.4.2
-e git+https://github.com/Chun-Chiao/SoftwareCarpentryFinalProject.git@d503823809401fdfcc08eacd2104972858bba65a#egg=music_recommender
mypy_extensions==1.1.0
numpy==1.24.4
packaging==25.0
pandas==2.0.3
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pycodestyle==2.12.1
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2025.2
redis==6.0.0
requests==2.32.3
scikit-learn==1.3.2
scipy==1.10.1
six==1.17.0
threadpoolctl==3.5.0
tomli==2.2.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
